.wrap {
  background: royalblue;
  height: 100px;
  width: 1400px;
  margin: auto;
  max-width: calc(100% - 80px);
}

/* float */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.float {
  overflow: hidden;
}
.float li {
  float: left;
  background: gold;
  width: calc((100% - (24px * 2)) / 3);
}

.float li:not(:first-child) {
  margin-left: 24px;
}

/* flex */

.flex {
  display: flex;
  gap: 24px;
}
.flex li {
  background: gold;
  flex-grow: 1;
}