/* reset css */
body {
  font-size: 10px;
}
body, h1, h2, h3, h4, h5, h6, p, a, button, ul, li {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style: none;
}
button {
  border: initial;
  background-color: initial;
}
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* //reset css */
/* common */
.wrapper {
  width: 1280px;
  /* box-shadow: inset 0 0 10px black; */
  margin: 0 auto;
}
h2 {
  font-size: 4.8em;
  font-weight: bold;
}
h3 {
  font-size: 3.6em;
  font-weight: bold;
}
p {
  font-size: 1.6em;
}
.btn-orange {
  padding: 15px 30px;
  background-color: #d97652;
  border-radius: 40px;
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
}

.main-section img,
.sub-section-img img {
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}
/* //common */
/* header */
.hodu-header {
  background-color: #f2e9d8;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav img {
  padding: 31px 0;
}
.header-nav-list li{
  display: inline-block;
  padding-right: 30px;
}
.header-nav-list button {
  font-size: 1.6em;
}
.header-nav-list li:last-child {
  padding-right: 0;
}
.header-section {
  display: flex;
  justify-content: space-between;
  background-color: #f2e9d8;
}
.header-paragraph {
  padding-top: 200px;
}
.header-paragraph h2 {
  width: 737px;
  margin-bottom: 40px;
}
.header-paragraph p {
  width: 439px;
  margin-bottom: 40px;
}

/* //header */
/* main */
/* main-section */
.main-section {
  display: flex;
  align-items: center;
  padding-top: 80px;
  margin-bottom: 120px;
}
.main-section img {
  margin-right: 110px;
}
.main-section h3 {
  margin-bottom: 30px;
}
/* //main-section */
/* sub-section */
.sub-section h2,
.sub-section p {
  text-align: center;
}
.sub-section h2 {
  margin-bottom: 40px;
  color: #d97652;
}
.sub-section strong {
  color: #d97652;
}
.sub-section-img {
  display: flex;
  margin-top: 88px;
  width: 378px;
  margin-bottom: 90px;
}
.sub-section-img img:not(:last-child) {
  margin-right: 72px;
}
.sub-bottom-section {
  width: 938px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.sub-bottom-section p {
  text-align: start;
}
.subscibe-article {
  transform: translate(0, 50%);
  background-color: #263140;
  padding: 50px 58px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-article-content {
  width: 491px;
}
.sub-article-content h3, 
.sub-article-content p {
  color: #fff;
}
.sub-article-content p {
  margin-top: 18px;
  font-size: 1.4em;
}
.sub-article-input {
  width: 530px;
  background-color: #fff;
  padding: 5px 5px 5px 30px;
  border-radius: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.sub-article-input img {
  margin-right: 18px;
}
.sub-article-input input {
  border: 0;
  margin: 0;
  font-size: 1.6em;
}
.sub-article-input input:focus {
  outline: none;
}
.sub-article-input button {
  margin-left: auto;
}
main::after {
  background: url(./img/img_5.svg)no-repeat center center / cover;
  content: "";
  display: inline-block;
  width: 100%;
  height: 340px;
}
/* footer */
footer {
  padding: 45px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.platform-link ul {
  display: flex;
  gap: 20px;
}
.platform-link i {
  background-color: #d97652;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 42px;
}
/* //footer */