/* [해보기]레이아웃 만들기T float 이용 */

header {
    background: skyblue;
    height: 100px;
}
section {
    background: slateblue;
    float: left;
    width: 70%;
    height: 400px;
}
aside {
    background: lime;
    height: 400px;
}
footer {
    background: salmon;
    height: 100px;
}