/* [해보기]로그인 */

.login {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  font-size: 12px;
  padding: 18px 16px;
}

.btn-login {
  display: block;
  background: #711bff;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  text-decoration: none;
  margin: 16px 0;
}
.btn-login img {
  height: 18px;
  vertical-align: middle;
}

.info a {
  text-decoration: none;
  color: #767676;
}
.info a:last-child {
  float: right;
}
.find-id {
  background-image: url(img/icon-lock.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 1em;
  padding-left: 1.2em;
}
.user {
  background-image: url(img/icon-user.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 1em;
  padding-left: 1.2em;
}