.txt-hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.label-hold {
    position: relative;
    display: inline-block;
    margin: 20px 0;
    font-size: 16px;
    cursor: pointer;
}
.label-hold::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    vertical-align: -5px;
    border: 1px solid black;
}
.input-hold:focus-visible+.label-hold::before {
    outline: 2px solid #000;
    outline-offset: 5px;
}
.label-hold::after {
    position: absolute;
    /* static 이외의 요소를 기준으로 삼는다. */
    top: 2px;
    left: 22px;
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(./img/checkmark.png);
    background-size: 22px;
    background-repeat: no-repeat;
    /* 단축속성 */
    /* background: url(./img/checkmark.png) 0 0 / 22px no-repeat; */
    /* url, position, size, repeat */
    transition: .3s ease;
    opacity: 0;
}
.input-hold:checked+.label-hold::after {
    left: 1px;
    opacity: 1;
}
