body {
    background-image: url(./images/bg.png);
}
h1, p {
    margin: initial;
    padding: initial;
}

.wrap {
    /* box-shadow: inset 0 0 10px green; */
    width: 300px;
    margin: 100px auto;
    text-align: center;
}
.wrap img {
    vertical-align: top;
}

.contents {
    background-image: url(./images/green.png);
    background-repeat: no-repeat;
    background-color: rgb(147, 87, 46);
    color: #eee;
    padding: 60px 20px 30px;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 10px 0 rgb(74, 38, 11);
}
.contents h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
