/* reset css */
body {
  font-size: 10px;
}
body, h1, h2, h3, h4, h5, h6, p, a, button, ul, li {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style: none;
}
button {
  border: initial;
  background-color: initial;
  cursor: pointer;
}
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
/* /reset css */
.card-list {
  padding: 20px;
  width: 680px;
  box-shadow: inset 0 0 10px red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 70px auto;
}
.card-list li button {
  width: 100%;
}
.card-list img {
  width: 200px;
  aspect-ratio: 200 / 345;
  object-fit: cover;
}