[class^="btn"] {
    width: 88px;
    height: 32px;
    background: #343f50;
    border: 1px solid #1a202c;
    color: #cbd5df;
    box-shadow: inset 1px 1px  #4a5568;
}
[class^="btn"]:hover {
    text-decoration: underline;
    color: #fff;
}
.btn:active {
    box-shadow: inset 1px 1px #262f3e;
}
/* .btn:focus {
    outline: none;
    border: 1px solid #439aff;
} */
.btn:disabled {
    box-shadow: none;
    color: #4a5568;
    text-decoration: none;
    background: #3a4556;
    border: 1px solid #343e4e;
}

.btn-positive {
    color: #439aff;
}
.btn-positive:hover,
.btn-positive:active {
    background: #439aff;
    border: 1px solid #439aff;
}
.btn-positive:hover {
    box-shadow: inset 1px 1px #73b4ff;
}
.btn-positive:active {
    box-shadow: inset 1px 1px #3b78be;
}

.btn-negative {
    color: #eb5757;
}
.btn-negative:hover,
.btn-negative:active {
    background: #eb5757;
    border: 1px solid #eb5757;
}
.btn-negative:hover {
    box-shadow: inset 1px 1px #73b4ff;
}
.btn-negative:active {
    box-shadow: inset 1px 1px #d94242;
}