:root {
    font-family: 'Montserrat', sans-serif;
	/*
	font-weight: 500;
	font-weight: 700;
	*/
}
/* reset */
body, h1, h2, h3, h4, h5, h6, p, ul, li, button {
	padding: 0;
	margin: 0;
}
h2 {
	font-size: 40px;
}
li {
	list-style: none;
}
button {
	border: 0;
	background-color: initial;
}
.a11y-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
/* main>section */
.section {
	padding: 100px 0;
}
/* //main>section */
/* section calendar */
.calendar {
	background: seashell;
}
/* //section calendar */
/* calendar-header */
.calendar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
}
.calendar-header h2 {
	width: 32%;
	color: salmon;
	font-weight: normal;
	/* box-shadow: inset 0 0 10px orange; */
}
.calendar-header h2 > strong {
	box-shadow: inset 0 -20px 0 #fff;
	font-weight: normal;
}
.click {
	margin-left: auto;
	margin-right: 10px;
}
.calendar-header button {
	font-size: 14px;
	background: orangered;
	font-weight: bold;
	color: #fff;
	padding: 12px 20px;
	border-radius: 5px;
	box-shadow: 0 5px #b92e00;
}
.calendar-header button:hover {
	cursor: pointer;
}
.calendar-header button:active {
	background-color: #b92e00;
	box-shadow: 0 5px orangered;
}
/* //calendar-header */
/* calendar-section */
.calendar-section {
	/* box-shadow: inset 0 0 10px red; */
	display: flex;
	gap: 24px;
}
.calendar-card {
	width: 32%;
	position: relative;
}
.soldout {
	position: absolute;
	top: -10px;
	left: -10px;
}
.calendar-img {
	width: 100%;
	vertical-align: top;
	border-bottom: 5px solid #465047;
}
.calendar-contents{
	background: #fff;
	padding: 24px;
	/* box-shadow: inset 0 0 10px green; */
}
.calendar-list {
	display: flex;
	gap: 5px;
}
.calendar-list li {
	background: #f1e0f8;
	color: #673399;
	padding: 4px;
	border-radius: 5px;
	margin-bottom: 24px;
}
.calendar-contents h3 {
	font-size: 24px;
}
.calendar-text {
	font-size: 14px;
	color: #898488;
	min-height: 108px;
	margin-top: 24px;
}
.line {
	margin-top: 53px;
}
.contents-bottom {
	background: #fff;
	color: #898488;
	padding: 0 24px;
	height: 68px;
	display: flex;
	align-items: center;
	font-size: 12px;
	position: relative;
}
.contents-bottom p::before {
	position: absolute;
	content: "";
	width: 93%;
	height: 4px;
	background: #eee;
	top: 0;
}
.bottom-img {
	margin-left: auto;
}
.bottom-img img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid #fff;
	vertical-align: top;
}
.bottom-img img:nth-child(1) {
	transform: translate(30px);
}
.bottom-img img:nth-child(2) {
	transform: translateX(15px);
}
.bottom-img img:nth-child(3) {
	position: relative;
}
/* //calendar-section */

/* section project */
.project {
	background: #673399;
}
.section-wrapper {
	width: 1080px;
	margin: 0 auto;
	/* box-shadow: inset 0 0 10px red; */
}
/* //section-project */
/* project-header */
.project-header {
	display: flex;
	align-items: center;
	margin-bottom: 100px;
}
.project-header h2 {
	/* box-shadow: inset 0 0 10px orange; */
	width: 26%;
	color: #fff;
}
.project-header h2 > strong {
	box-shadow: inset 0 -20px 0 orangered;
}
.project-header p {
	/* box-shadow: inset 0 0 10px yellow; */
	width: 500px;
	display: flex;
	align-items: center;
	color: #bd8fe8;
}
.project-header p::before {
	content: "";
	/* display: inline-block; */
	width: 80px;
	height: 1px;
	flex-shrink: 0;
	background-color: #bd8fe8;
	margin-right: 20px;
}
/* //project-header */
/* project-section */
.project-contents {
	box-shadow: inset 0 0 10px orange;
	display: flex;
}
.project-contents:nth-child(even) {
	flex-direction: row-reverse;
}
.project-contents:not(:last-child) {
	margin-bottom: 24px;
}
.content-view {
	flex-basis: 26%;
	flex-shrink: 0;
	position: relative;
}
.content-view img {
	position: absolute;
	width: 100%;
	height: 100%;
}
.content-view h3 {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 30px;
}
.content-list {
	padding: 24px;
	flex-grow: 1;
	background: #fff;
}
.content-list h4 {
	font-size: 18px;
	color: #673399;
	margin-bottom: 32px;
}
.project-list li {
	font-size: 14px;
	text-indent: -24px;
	margin-left: 24px;
	color: #898488;
}
.project-list li::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #bd8fe8;
	margin-right: 14px;
}
.project-list li:not(:last-child) {
	margin-bottom: 10px;
}
/* //project-section */
/* 반응형 */
@media (max-width: 1096px) {
	.section-wrapper {
		width: calc(100% - (100px * 2));
	}
	.project-header,
	.project-contents,
	.project-contents:nth-child(even) {
		flex-direction: column;
	}
	.project-header {
		align-items: flex-start;
	}
	.project-header h2 {
		margin-bottom: 40px;
	}
	.project-header p {
		width: 100%;
		align-items: flex-start;
	}
	.project-header p::before {
		display: none;
	}
	.content-view img {
		position: relative;
		vertical-align: top;
	}
	.content-view h3 {
		position: absolute;
	}
	.calendar-header {
		flex-direction: column;
		align-items: flex-start;
	}
	.calendar-header h2 {
		margin-bottom: 40px;
	}
	.calendar-section {
		flex-direction: column;
	}
	.calendar-card {
		width: 100%;
	}
}
