/** [실습]박스 옮기기 */

.wrap{  
  background:#ddd;
  width:200px;
  height:200px;
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */

  /* display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; */
}
.box{
  width:50px;
  height:50px;
  color:#fff;
  text-align:center;
  line-height:50px;
  font-weight:bold;
  background:royalblue;
}