header {
    background: salmon;
}
section {
    background: gold;
}
aside {
    background: slateblue;
}
footer {
    background: seagreen;
}
.wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px;
    justify-content: space-between;
}

.wrap2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 1;
}

header, footer {
    flex-basis: 50px;
}

.wrap2 section {
    flex-grow: 1;
}
.wrap2 aside {
    flex-basis: 200px;
}

header,
section,
aside,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}