/* CSS: grid */

/* [실습]해보기 */

[class^="container"]:not(:first-child) {
    margin-top: 100px;
}
.container1 {
    display: grid;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 200px 200px;
    background: #eee;
    grid-auto-flow: dense;
}
.grid-item1 {
    background: skyblue;
    border: 3px solid royalblue;
}
.grid-item1:first-child {
    background: gold;
    grid-column: 2 / span2;
}


.container2 {
    display: grid;
    grid-template-columns: 200px 100px 200px;
    grid-template-rows: 200px 100px 200px;
    background: #eee;
    grid-template-columns: 4;
    grid-template-rows: 4;
    gap: 10px;
}
.grid-item2:nth-child(1) {
    background: red;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-item2:nth-child(2) {
    background: orange;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-item2:nth-child(3) {
    background: yellow;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-item2:nth-child(4) {
    background: green;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-item2:nth-child(5) {
    background: blue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.grid-item2:nth-child(6) {
    background: purple;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}


.container3 {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
    grid-template-areas: 
    "a a b"
    "c d b"
    "e f f";
    width: 500px;
    height: 500px;
}
.grid-item3:nth-child(1) {
    background: red;
    grid-area: a;
}
.grid-item3:nth-child(2) {
    background: orange;
    grid-area: b;
}
.grid-item3:nth-child(3) {
    background: yellow;
    grid-area: c;
}
.grid-item3:nth-child(4) {
    background: green;
    grid-area: d;
}
.grid-item3:nth-child(5) {
    background: blue;
    grid-area: e;
}
.grid-item3:nth-child(6) {
    background: purple;
    grid-area: f;
}


.container4 {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
    width: 500px;
    height: 500px;
}
.grid-item4:nth-child(1) {
    background: red;
    grid-area: 1/1/1/span 2;
}
.grid-item4:nth-child(2) {
    background: orange;
    grid-area: 1/3/span 2/3
}
.grid-item4:nth-child(3) {
    background: yellow;
    grid-area: 2/1/3/2;
}
.grid-item4:nth-child(4) {
    background: green;
    grid-area: 2/2/3/3;
}
.grid-item4:nth-child(5) {
    background: blue;
    grid-area: 3/1/4/2;
}
.grid-item4:nth-child(6) {
    background: purple;
    grid-area: 3/2/4/4;
}