.list-area {
  padding: 0;
  list-style: none;
}

.area-item {
  border: 1px solid black;
}

.area-item+.area-item {
  border-top: none;
}

.area-item.active {
  background-color: royalblue;
  color: #fff;
}