/* layout */

.container {
    display: grid;
    grid-template-areas: 
    "a b"
    "a c";
    gap: 20px;
}
.grid-a {
    /* background: aqua; */
    grid-area: a;
}
.grid-b {
    /* background: gold; */
    grid-area: b;
}
.grid-c {
    /* background: seagreen; */
    grid-area: c;
}

.go-bg {
    padding-right: 1.2em;
    background: url(./img/arrow.svg) no-repeat 100% center / contain;
}

@media (max-width: 1200px) {
    .container {
        grid-template-areas:
        "a a"
        "b c";
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr 1fr; 
    }
}
@media (max-width: 768px) {
    .container {
        grid-template-areas: 
        "a"
        "b"
        "c";
        gap: 14px;
    }
}

body {
    height: 100vh;
    /* 2. 그래서 height 100vh를 줘서 세로축 정렬을 한다. */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 1. height 값이 없어서 세로축이 떨어지지 않는다. */
}

/* style */
.container {
    width: 1200px;
    max-width: calc(100% - 60px);
    min-width: 400px;
}

.grid-a h1 {
    font-size: 70px;
    /* 70 70 36 */
    font-weight: normal; 
    color: #121314;
}
.grid-a p {
    color: #47494d;
    font-size: 20px;
    /* 20 18 14 */
    margin-top: 20px;
    /* 20 20 14 */
}

.grid-b, .grid-c {
    border-radius: 20px;
    color: white;
    padding: 40px 30px 30px 40px;
    aspect-ratio: 486 / 280;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid-b strong, .grid-c strong {
    font-size: 30px;
}
.grid-b span, .grid-c span {
    align-self: flex-end;
}
.grid-b {
    background: url(./img/background1.jpg) no-repeat 0 0 / cover;
}
.grid-c {
    background: url(./img/background2.jpg) no-repeat 0 0 / cover;
}

/* 가상요소로 하는 방법 */
.go-after::after {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border: 1px solid #fff;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    margin-left: 0.2em;
    border-radius: 0.1em;
}

/* 배경으로 푸는 방법 */
.go-bg {
    padding-right: 1.2em;
    background: url(./img/arrow.svg) no-repeat 100% center / contain;
}

/* 반응형 작업 */
@media (max-width: 1200px) {

    .grid-a p {
        font-size: 18px;
        /* 20 18 14 */
    }
    
    .grid-b, .grid-c {
        padding: 30px 20px 20px 30px;
    }
    .grid-b strong, .grid-c strong {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .grid-a h1 {
        font-size: 36px;
        /* 70 70 36 */
    }
    .grid-a p {
        font-size: 14px;
        /* 20 18 14 */
        margin-top: 14px;
        /* 20 20 14 */
    }
    
    .grid-b strong, .grid-c strong {
        font-size: 20px;
    }
}