/* HTML: table */
table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
}

.blue {
    background: skyblue;
}
.blue th {
    text-align: left;
}
.gold {
    background: gold;
}
.pink {
    background: pink;
}