/* reset css */
body {
  font-size: 10px;
  color: #fff;
}
body, button {
  padding: 0;
  margin: 0;
}
button {
  border: initial;
  background-color: initial;
}
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* /reset css */
.container {
  width: 360px;
  height: 540px;
  background-color: #595959;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.result-box {
  display: flex;
  flex-direction: column;
  height: 90px;
}
.result-box input {
  flex-grow: 1;
  background-color: #595959;
  border: 0;
}
.result-box input:focus {
  outline: none;
}
.button-box {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(5, 90px);
  box-sizing: border-box;

}
button {
  border: 1px solid #a6a6a6;
  color: #fff;
  font-size: 30px;
}
.numbtn {
  background-color: #7f7f7f;
}
.result {
  grid-column: 3 / 5;

}
