/* reset css */
body {
  font-size: 10px;
}
body, h1, h2, h3, h4, h5, h6, p, a, button, ul, li {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style: none;
}
button {
  border: initial;
  background-color: initial;
  color: #4A4E69;
}
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
/* /reset css */

.add-list {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-list li {
  margin-bottom: 5px;
}
.btn1, .btn2, .btn3 {
  font-size: 25px;
  width: 40px;
  height: 40px;
  border: 2px solid #4A4E69;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addbtn {
  font-size: 40px;
  width: 50px;
  height: 50px;
  border: 2px solid #4A4E69;
  border-radius: 50%;
  color: #4A4E69;
  box-shadow: 3px 3px 3px #4A4E69;
}



[class^="btn"]:active {
  box-shadow: inset 3px 3px 3px #4A4E69;
}