.one {
  font-size: 10px + 10px;
}

.two {
  font-size: 30px - 10px;
}

.three {
  font-size: 10px * 2;
}

.four {
  font-size: (20px / 10);
  // 20px / 10px로 쓸 경우 2로 나온다. 즉 px을 쓰지 않는다.
}

.five {
  font-size: 7px % 3;
}