.box1 {
    background-color: skyblue;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    padding: 20px; /* 테두리와 내용물 사이에 있는 빈틈 */
    margin: 20px; /* 테두리 밖 공간 */
}

.box2 {
    background-color: violet;
    width: 100px;
    height: 100px;
    border: 5px solid purple;
}