body {
    font-family: 'Roboto', sans-serif;
}
.wrap {
    width: 1060px;
    background: #f2f2f2;
    margin: 86px auto;
    border: 2px solid #dbdbdb;
    border-radius: 15px;
}
body, h1, h2, h3, p, li {
    margin: 0;
    padding: 0;
}

/* header */
header {
    width: 650px;
    margin: 0 auto;
    /* box-shadow: inset 0 0 10px red; */
    position: relative;
    text-align: center;
}
header ::after {
    display: inline-block;
    content: "";
    width: 650px;
    border: 2px solid #bdbdbd;
    position: absolute;
    top: 61px;
    left: 0;
}
header h1 {
    margin-top: 41px;
    font-size: 24px;
}

header nav {
    margin-top: 65px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
header ul li button {
    color: #828282;
    font-size: 16px;
    font-weight: 900;
    border: none;
}
header ul li button:active {
    color: #000;
}
header ul li button:hover {
    cursor: pointer;
}