/* 전체 선택자 */
* {
    color: red;
}

/* 타입 선택자 */
h2 {
    color : orange;
}

/* 아이디 선택자 */
#hello3 {
    color: yellow;
}

/* 클래스 선택자 */
.hello4 {
    color: green;
}

/* 특성 선택자 */
[class="hello5"] {
    color: skyblue;
}

/* 자손 선택자 */
div p {
    color: yellow;
}