/** OT 이력서 작성 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* reset */
* {
  font-family: 'Montserrat';
}

body,h1,h2 {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: fit-content;
}
/* /reset */

h1 {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #282828;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 16px;
  padding-bottom: 5px;
}

footer {
  text-align: center;
  background-color: #1e1e1e;
  padding: 20px;
  color: #919191;
  font-size: 12px;
}

.mainbox {
  border: 1px solid black; /* 테두리이다 두께 방식 색깔 */
  width: 1200px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin: 30px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.name-text {
  font-size: 16px;
  color: #7c7c7c;
  font-weight: bold;
}

section {
  margin-bottom: 24px;
}

.about-me {
  font-size: 10px;
  line-height: 16px;
}

.title-text {
  font-size: 11px;
  font-weight: bold;
  color: #282828;
  float: left; /* 둥둥 떠다니되 정렬한다. */
}

.year-text {
  font-size: 11px;
  font-weight: bold;
  color: #282828;
  float: right;
}

.float-wrap {
  overflow: hidden; 
  /* float 로 띄워진 요소들을 다 묶어주고 그 다음에 오는 요소들이 영향을 받지 않게 해준다. */
}

.desc-text {
  font-size: 9px;
} 

.desc-subtext {
  font-size: 9px;
  color: #282828;
  padding-left: 16px;
}

.title-box {
  text-align: right;
}

.icon {
  width: 12px;
  height: 12px;
  display: flex;
  text-decoration: none;
}

