/* reset css */
body {
  font-size: 10px;
}
body, h1, h2, h3, h4, h5, h6, p, a, button, ul, li {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style: none;
}
button {
  border: initial;
  background-color: initial;
}
a {
  text-decoration: none;
}
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
/* ! 안보이게 처리할때 display:none으로 하면 안되는 이유 */
/*1. 검색엔진에 잡히지 않는다.
  2. 웹 접근성이 떨어진다.
  3. 스크린리더에 안읽힌다.
  */
/* /reset css */

form {
  width: 350px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 19px 16px;
  margin: 100px auto;
}

form h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 16px;
}

form .loginbtn {
  display: block;
  background-color: #711bff;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  border-radius: 4px;
  line-height: baseline;
  margin-bottom: 17px;
  text-align: center;
}

form img {
  width: 56px;
  aspect-ratio: 56.58px / 10.8px;
  object-fit: cover;
  margin-right: 7px;
  color: #fff;
  vertical-align: top;
}

.id::before {
  background: url(./img/icon-lock.png) no-repeat 0 0 / 100%;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: bottom;
}

.id::after {
  content: "|";
  width: 4px;
  height: 15px;
  margin: 0 0 0 4px;
}

.join {
  float: right;
}
.join::before {
  background: url(./img/icon-user.png)no-repeat 0 0 / 100%;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  margin-right: 4px;
}

a {
  color: #767676;
}