/** CSS: CSS 선택자(기본) */

/** 전체 선택자: * */
* {
  color: red;
}
.section1 > * {
  color: orangered;
}
/* section1안에 모든 태그에 color값을 주는것이다. */

/** 타입 선택자: tag */
h2 {
  color : orange;
}

/** 아이디 선택자: # */
/* HTML에서 아이디는 고유해야한다. */
/* 숫자시작은 안된다. */
#hello3 {
  color: yellow;
}

/** 클래스 선택자: . */
/* 숫자시작은 안된다. */
/* class^="classname"에서 ^는 class의 값이 classname으로 시작되는 모든 것을 선택한다. */
.hello4 {
  color: green;
}

/** 특성 선택자: [] */
[class="hello5"] {
  color: skyblue;
}

/** 자식 선택자: > */
div > h6 {
  color: blue;
}
/* 자손을 선택하지 않는다. */

/** 자손 선택자: 공백 */
div p {
  color: purple;
}
/* 자식과 자손 모두 선택이 가능하다. */

/** 그룹 선택자: , */
p, strong {
  color: blueviolet;
}

/** 형제 선택자: ~ */
/* 형제 중 모든 p 태그를 선택한다. */
.brother1 ~ p{
  text-decoration: underline;
}

/** 인접 형제 선택자: + */
/* 형제 중 가장 가까이 있는 하나의 p 태그를 선택한다 */
.brother2 + p {
  text-decoration: line-through;
}

/** CSS: CSS 상속 */
/*! width, height, margin, padding, border은 상속되지 않는다. */

.inheritance {
  color: red;
  border: 5px solid pink;
}

.inheritance p {
  border: inherit;
}
/* inherit: 상속받겠다. */
/* initial: 초기값, 브라우저의 기본설정 */

img {
  width: 100%;
}