<<<<<<< HEAD
/** HTML: 텍스트와 관련된 태그2 */

/** wbr 태그 */
.ko-word-break {
  word-break: keep-all;
}
.en-word-break {
  word-break: break-all;
=======
/** HTML: 텍스트와 관련된 태그2 */

/** wbr 태그 */
.ko-word-break {
  word-break: keep-all;
}
.en-word-break {
  word-break: break-all;
>>>>>>> 3f30aedba3393f27d44b1e732f0c82c9a04cc335
}