/* CSS: 텍스트 꾸미기 */

/* text-shadow */
.shadow {
    text-shadow: 1px 1px 0px royalblue; /* 중첩하여 사용할 수 있다. */
    /* x좌표, y좌표, 번짐정도, 색상 */
}

/* text-align */
.align {
    text-align: justify;
    word-break: break-all;  /* justufy 때문에 사용한다. */
}

/* vertical-align */
.va {
    font-size:2rem;
}
.va strong {
    font-size: 0.5em;
    vertical-align: top;
}

/* line-height */
.lh {
    line-height: 20px;
} /* 배수로 사용하는것이 좋다. */

/* letter-spacing */
.ls {
    letter-spacing: 20px;
}

/* word-spacing */
.ws {
    word-spacing: 20px;
}

/* text-indent */
.ti {
    text-indent: 2em;
}

/* word-break */


/* text-overflow */

.tof {
    width: 400px;
    border: 2px solid black;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.multi-ellipsis {
    overflow: hidden;  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}