/* CSS: 텍스트 꾸미기 */

/* text-shadow */
.shadow {
  text-shadow: 1px 1px 0px royalblue; /* 중첩하여 사용할 수 있다. */
  /* x좌표, y좌표, 번짐정도, 색상 */
}

/* text-align */
/* 텍스트의 가로정렬을 설정한다. */
.align {
  text-align: justify; /* justify: 양쪽 정렬 */
  word-break: break-all;  /* justify 때문에 사용한다. */
}

/* vertical-align */
/* 텍스트의 세로정렬을 설정한다. */
/*! 인라인, 인라인 블록 및 테이블 셀요소에만 적용된다. */
.va {
  font-size:2rem;
}
.va strong {
  font-size: 0.5em;
  vertical-align: center;
}

/* line-height */
.lh {
  line-height: 20px;
} /* 배수로 사용하는것이 좋다. */

/* letter-spacing */
/* 글자 하나하나를 분리시킨다. */
.ls {
  letter-spacing: 20px;
}

/* word-spacing */
/* 단어 하나하나를 분리시킨다. */
.ws {
  word-spacing: 20px;
}

/* text-indent */
/* 들여쓰기 */
.ti {
  text-indent: 2em;
}

/* word-break */

.tof {
  width: 400px;
  border: 2px solid black;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multi-ellipsis {
  overflow: hidden;  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}