/* CSS: CSS 선택자(가상 클래스) */

:root {
  --main-color: pink;
  --pane-padding:5px 42px;
}
body {
  background: var(--main-color);
}

li:first-child {
  color: red;
}

li:nth-child(3) {
  color: yellow;
}

li:nth-child(odd) {
  text-decoration: underline;
}
/* 홀수 */

li:nth-child(even) {
  text-decoration: line-through;
}
/* 짝수 */

li:last-child {
  color: purple;
}

li:not(:first-child) {
  background: #eee;
  margin-top: 20px;
}

p:nth-of-type(3) {
  color: yellow;
}
p:nth-child(3) {
  text-decoration: underline;
}
/* 3번째 요소가 p태그가 아니여서 적용이 안된다. */
div:only-of-type {
  border: 3px solid orange;
}
/* 형제중에 유일하게 사용되는 태그이다. */