/** CSS: CSS 선택자(가상 요소) */

/*! 빈태그 img, br, input 등에서는 적용할 수 없다. */
input {
  color: royalblue;
}
input::placeholder {
  color: red;
}

/** CSS: CSS 선택자 우선순위 */
/*
1. 후자우선의 원칙
2. 구체성의 원칙
*/
/*! inline-style > id 선택자 > class 선택자 & 가상클래스 속성 선택자 > 타입, 가상요소 선택자 > 전체 선택자 */
p {
  color: red;
  border: 2px solid red;
}
.ptag1 {
  color: orange;
}
#ptag2 {
  color: yellow;
}
:nth-child(4) {
  color: green;
}
[class="ptag3"] {
  color: skyblue;
}
/* 100줄 생략 */
p {
  color: royalblue;
}


