/* CSS: CSS Box Model */

div {
  width: 100px;
  height: 100px;
  background-color: royalblue;
}
div:nth-child(1) {
  margin: 20px auto;
  /* margin auto는 수평 정렬을 할수 있지만, 세로 정렬을 적용할 수는 없다 */
  padding: 10px;
  border: 10px solid royalblue;
  box-sizing: border-box;
  /* border값까지 포함하여 높이와 너비값을 맞춘다. */
  width: 100px;
  height: 100px;
  /* 인라인 요소는 width랑 height값이 적용되지 않는다. */
}
div:nth-child(2) {
  margin: 20px auto;
  /* margin auto는 수평 정렬을 할수 있지만, 세로 정렬을 적용할 수는 없다 */
  padding: 10px;
  border: 10px solid royalblue;
  box-sizing: border-box;
  /* border값까지 포함하여 높이와 너비값을 맞춘다. */
  width: 100px;
  height: 100px;
  /* 인라인 요소는 width랑 height값이 적용되지 않는다. */
}
/*! 마진병합 현상 */
/* 
해결방법
1. 부모 요소에 overflow: hidden을 준다.
2. 부모 요소에 display: inline-block을 준다.
3. 부모 요소에 border을 준다.
4. 부모 요소에 display: flow-root를 사용한다.
*/

/* CSS: overflow */

div:nth-child(3) {
  overflow: scroll;
}
div:nth-child(4) {
  overflow: auto; /* 넘칠때만 스크롤이 생긴다. */
}

/* CSS: border-radius */

div:nth-child(5) {
  border-radius: 50%;
  /* 시계 방향으로 진행한다. */
}

/* CSS: practice */

div:nth-child(6) {
  border-radius: 50%;
}
div:nth-child(7) {
  border-radius: 20px;
}
div:nth-child(8) {
  border-radius: 100% 0px 0px 0px;
}
div:nth-child(9) {
  border-radius: 100% 0px 100% 0px;
}
div:nth-child(10) {
  border-radius: 0px 50% 0px 50%;
}
div:nth-child(11) {
  height: 50px;
  border-radius: 100px 100px 0 0;
}
div:nth-child(12) {
  border-radius: 10px 20px 30px 40px/ 40px 30px 20px 10px;
}