/* [해보기]박스 꾸미기 */

div:not(:first-child) {
    margin-top: 20px;
}

div {
    width: 100px;
    height: 48px;
    background: #eee;
    line-height: 48px;
    text-align: center;
}

div:nth-child(1) {
    background: #343f50;
    border: 5px solid #000;
    box-shadow: inset 3px 3px #4a5568;
}

div:nth-child(2) {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 50px;
    border: 3px dashed #fc466b;
    background-clip: padding-box;
}

div:nth-child(3) {
    background: white;
    color: #000;
    border-radius: 0 50px 50px 50px;
    border: 3px solid #eee;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}